@import url(https://fonts.googleapis.com/css?family=Squada+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
#element::-webkit-scrollbar {
  display: none;
}

.fontAwesome {
  font-family: Helvetica, FontAwesome, sans-serif;
  font-size: 16px;
}

::placeholder {
  color: black;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}
