@import url(https://fonts.googleapis.com/css?family=Squada+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
.fontAwesome {
  font-family: Helvetica, FontAwesome, sans-serif;
  font-size: 14px;
}

#main .center {
  display: flex;
  align-items: center;
  justify-content: center;
}

::placeholder {
  color: black;
  font-size: 14px !important;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

#main .center input {
  height: 50px;
  width: 100%;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-left: 20px;
  z-index: 98;
  font-size: 14px;
}

#main-content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 420px !important;
}

#main-content bg-container {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: calc(100vw - 420px);
  height: 100vh;
  background: url("../img/bg-1.jpg") rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

#main-content .deals-container {
  height: 520px;
  padding: 20px;
}

#main-content .calender-container {
  background: #302F2F;
  border-radius: 10px;
  height: 320px;
  margin: 20px 0 20px 0;
}

#main-content .todo-container {
  padding: 20px;
}

#main-content .survey-container {
  background: #302F2F;
  border-radius: 10px;
  height: 320px;
  margin-bottom: 20px;
}

@media all and (max-width: 1280px) {
  #main-content bg-container {
    width: calc(100vw - 330px) !important;
  }
  #main-content .todo-container {
    grid-row: 1 !important;
    grid-column: span 2 !important;
  }
  #main-content .calender-container {
    height: 400px !important;
    margin: 20px !important;
    grid-row: 1 !important;
    grid-column: 3 !important;
  }
  #main-content .deals-container {
    grid-row: 2 !important;
    grid-column: span 2 !important;
  }
  #main-content .survey-container {
    margin: 20px !important;
    grid-row: 2 !important;
    grid-column: 3 !important;
  }
}

@media all and (max-width: 980px) {
  #main-content {
    grid-template-columns: 50% 50% !important;
  }
  #main-content bg-container {
    width: 100vw !important;
  }
  #main-content .todo-container {
    padding: 0 !important;
    grid-row: 1 !important;
    grid-column: span 2 !important;
  }
  #main-content .calender-container {
    grid-row: 3 !important;
    grid-column: 1 !important;
  }
  #main-content .deals-container {
    grid-row: 2 !important;
    grid-column: span 2 !important;
  }
  #main-content .survey-container {
    grid-row: 3 !important;
    grid-column: 2 !important;
  }
}

@media all and (max-width: 749px) {
  #main-content {
    grid-template-columns: 100% !important;
  }
  #main-content .todo-container {
    grid-row: 1 !important;
    grid-column: 1 !important;
  }
  #main-content .calender-container {
    grid-row: 3 !important;
    grid-column: 1 !important;
  }
  #main-content .deals-container {
    grid-row: 2 !important;
    grid-column: 1 !important;
  }
  #main-content .survey-container {
    grid-row: 4 !important;
    grid-column: 1 !important;
  }
}
