@import url(https://fonts.googleapis.com/css?family=Squada+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
.fontAwesome {
  font-family: Helvetica, FontAwesome, sans-serif;
  font-size: 16px;
}

::placeholder {
  color: black;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

#main-content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 520px !important;
  background-color: #302F2F;
}

#main-content .deals-container {
  height: 520px;
  padding: 20px;
}

#main-content .calender-container {
  height: 320px;
  margin: 20px 0 20px 0;
}

#main-content .todo-container {
  padding: 20px;
}

#main-content .survey-container {
  height: 320px;
  border: 3px solid blue;
  margin-bottom: 20px;
}
