@import "_global";

#main{
    .center {
        @extend %flex-center;

        input {
            height: 50px;
            width: 100%;
            border-radius: 50px;
            border: none;
            outline: none;
            padding-left: 20px;
            z-index: 98;
            font-size: $font-size;
        }
    }
    
}

#main-content{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 420px !important;
    // background-color: $bg-color;
    bg-container {
        position: fixed;
        z-index: -1;
        left: 0;
        top: 0;
        width: calc(100vw - 420px);
        height: 100vh;
        background: url('../img/bg-1.jpg') rgba(0,0,0,0.4);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center;
    }
    .deals-container{
        height: 520px;
        padding: 20px;
    }
    
    .calender-container{
        background: $bg-color;
        border-radius: 10px;
        height: 320px;
        margin: 20px 0 20px 0;
    }
    .todo-container{
        padding: 20px;
    }
    .survey-container{
        background: $bg-color;
        border-radius: 10px;
        height: 320px;
        margin-bottom: 20px;
    }
    
}

@media all and (max-width: 1280px) {
    #main-content{
        bg-container {
            width: calc(100vw - 330px) !important;
        }
        .todo-container{
            grid-row: 1 !important;
            grid-column: span 2 !important;
        }
        .calender-container{
            height: 400px !important;
            margin: 20px !important;
            grid-row: 1 !important;
            grid-column: 3 !important;
        }
        .deals-container{
            grid-row: 2 !important;
            grid-column: span 2 !important;
        }
        .survey-container{
            margin: 20px !important;
            grid-row: 2 !important;
            grid-column: 3 !important;
        }
    }
}

@media all and (max-width: 980px) {
    #main-content{
        grid-template-columns: 50% 50% !important;
        bg-container {
            width: 100vw !important;
        }
        .todo-container{
            padding: 0 !important;
            grid-row: 1 !important;
            grid-column: span 2 !important;
        }
        .calender-container{
            grid-row: 3 !important;
            grid-column: 1 !important;
        }
        .deals-container{
            grid-row: 2 !important;
            grid-column: span 2 !important;
        }
        .survey-container{
            grid-row: 3 !important;
            grid-column: 2 !important;
        }
    }
}
@media all and (max-width: 749px) { 
    #main-content{
        grid-template-columns: 100% !important;
        .todo-container{
            grid-row: 1 !important;
            grid-column: 1 !important;
        }
        .calender-container{
            grid-row: 3 !important;
            grid-column: 1 !important;
        }
        .deals-container{
            grid-row: 2 !important;
            grid-column: 1 !important;
        }
        .survey-container{
            grid-row: 4 !important;
            grid-column: 1 !important;
        }
    }
}