* {
    font-family: 'Roboto', sans-serif;
}

.deals {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(4, 1fr);
border-radius: 10px;
background-color: #FFA500;
width: 100%;
max-height: 300px;
min-height: 300px;
}

#addDeal {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 30%;
    margin: 3% 3% 3% 3%;
    border-radius: 10px;
    font-size: 28px;
    background-color: #FFA500;
    border: none;
    cursor: pointer;
    color: #F6F4F0;
}

#addDeal:focus {
    outline: none;
}

#addDeal:active {
    outline: none;
}

h2 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    font-family: 'Squada One', cursive;
    color: #F6F4F0;
    text-align: center;
}

 .deals .addDeal_container, .deals .deals_table {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    border-radius: 10px;
    margin: 2% 2% 2%;   
    border: 5px solid #F6F4F0;
    border-radius: 10px;
    /* width: 95.5%; */
    color: #302F2F;
    overflow: auto;
    max-height: 200px;
    padding: 1%;
    font-size: 14px;
}

tr:nth-child(even) {
    background: #F6F4F0
}

/* tr:nth-child {
    margin: 1%;
} */

/* tr:nth-child(odd) {
    background: #FFF
} */

.deals .addDeal_container {
    display: none;
    padding: 1%;
    font-family: 'Squada One', cursive;
    color: #F6F4F0;
}

th {
    font-family: 'Squada One', cursive;
    color: #F6F4F0;
    font-size: 18px;
}

td {
    color: #302F2F;
    text-align: center;
    width: 20%;
}

#product, #price, #company, #contact {
    border: 1px solid #F6F4F0;
    border-radius: 10px;
    margin: 1%;
    margin-right: 15%;
    color: #302F2F;
    
}

.add {
    border-radius: 10px;
    font-size: 18px;
    color: #FFA500;
    border: none;
    cursor: pointer;
    background: #F6F4F0;
    padding: 1%;
    font-family: 'Squada One', cursive;
}

#product {
    width: 20%;
}

#company {
    width: 19.4%;
}

#contact {
    width: 16%;
}

#product {
    width: 20%;
}
