* {
    font-family: 'Roboto', sans-serif;
}

.deals {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: #FFA500;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: auto;
    /* max-height: 520px; */
    /* min-height: 320px; */
}

#addDeal {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-column-end: 6;
    width: 85%;
    margin: 3% 3% 3% 3%;
    border-radius: 10px;
    font-size: 36px;
    background-color: #FFA500;
    border: none;
    cursor: pointer;
    color: #F6F4F0;
    text-align: right;
}

#addDeal:focus {
    outline: none;
}

#addDeal:active {
    outline: none;
}

.h2-header {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 5;
    font-family: 'Squada One', cursive;
    color: #F6F4F0;
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
}

 .deals .addDeal_container {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    border-radius: 10px;
    border: 5px solid #F6F4F0;
    border-radius: 10px;
    color: #302F2F;
    overflow: auto;
    height: 90%;
    margin: 1%;
    font-size: 14px;
}

.deals .deals_table {
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    border-collapse: collapse;
    border-radius: 10px;
    border: 5px solid #F6F4F0;
    border-radius: 10px;
    color: #302F2F;
    overflow: scroll;
    height: 90%;
    max-height: 90%;
    margin: 1%;
    font-size: 14px;
    /* width: 100%; */
}

.deals .deals_table tbody {
    width: 100%;
    height: 95%;
}


tr:nth-child(even) {
    background: #F6F4F0;
}

.deals .addDeal_container {
    display: none;
    padding: 2%;
    font-family: 'Squada One', cursive;
    color: #F6F4F0;
    font-size: 20px;
}

th {
    font-family: 'Squada One', cursive;
    color: #F6F4F0;
    font-size: 20px;
    position: sticky;
    background: #FFA500;
    top: 0;  
    
}

.deals_table td {
    color: #302F2F;
    text-align: center;
}


#product, #price, #company, #contact {
    border: 1px solid #F6F4F0;
    border-radius: 10px;
    color: #302F2F;
    padding: 1%;
    width: 55%;
    margin-bottom: 15px;
}

.add { 
    border-radius: 10px;
    font-size: 20px;
    color: #FFA500;
    border: none;
    cursor: pointer;
    background: #F6F4F0;
    padding: 10px;
    width: 40%;
    font-family: 'Squada One', cursive;
    float: right;
}
