@import "_global";

*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    height: 100vh;
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}

.show {
    display: flex !important;
}


.sidebar {
    height: 100%;
    width: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: $bg-color; 
    overflow-x: hidden; 
    transition: 0.5s; 
    white-space: nowrap;
    .sidebar-content{
        img{
            height: 200px;
            width: 200px;
            margin: 50px 0 25px 0;
        }
        a {
            padding: 30px;
            text-decoration: none;
            font-size: 25px;
            color: white;
            display: block;
            transition: 0.3s;
            cursor: pointer;
            &:hover{
                color: $color;
            }
            span{
                font-size: 20px;
                padding-left: 15px;
            }
        }
        .fa-times {
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 50px;
            padding: 0;
            color: white;
        }   
    }
}

.create-screen{
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    .create-content{
        @extend %flex-center;
        position: relative;
        width: 500px;
        height: 500px;
        flex-direction: column;
        background-color: $bg-color;
        z-index: 100;
        .fa-times{
            position: absolute;
            color: white;
            font-size: 40px;
            top: 0;
            right: 0;
            margin: 10px 20px 0 0;
            cursor: pointer;
        }
        .add-h1 {
            font-family: 'Squada One', cursive;
            color: $color;
            margin: 30px 0 20px 0;
            font-size: 30px;
            text-transform: uppercase;
        }
        input {
            height: 50px;
            margin: 10px;
            width: 80%;
            border-radius: 50px;
            border: none;
            outline: none;
            padding-left: 15px;
    
        }
        .add-btn {
            height: 55px;
            width: 80%;
            border-radius: 50px;
            margin: 20px;
            font-size: 25px;
            font-family: 'Squada One', cursive;
            color: white;
            letter-spacing: 1px;
            background-color: $color;
            text-transform: uppercase;
        }
    }
}
  
#main{
    transition: margin-left .5s; 
    nav {
        height: 70px;
        display: grid;
        grid-template-columns: .5fr 2fr .5fr;
        grid-template-rows: 1fr;
        background-color: $color;
        #hamburger{
            display: none;
            cursor: pointer;
            transition: all .3s;
            .bar1, .bar2, .bar3 {
                width: 35px;
                height: 5px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
            }
        }  
        .left {
            @extend %flex-around;
            a {
                text-decoration: none;
                color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                font-size: 30px;
                cursor: pointer;
            }

            span {
                font-size: 12px;
            }
        }
        .right {
            @extend %flex-around;

            a {
                text-decoration: none;
                color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                font-size: 30px;
                cursor: pointer;
            }

            span {
                font-size: 12px;
            }

            .dropdown {
                position: relative;
                display: inline-block;
                .dropdown-content {
                    display: none;
                    flex-direction: column;   
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    background-color: $bg-color;
                    width: 500px;
                    right: 0;
                    top:75px;
                    border-radius: 3px;
                    &:after{
                        bottom: 100%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                    }
                    
                    &:after {
                        border-bottom-color: $bg-color;;
                        border-width: 15px;
                        right: 35px;
                        margin-left: -15px;
                    }
                    .fa-times{
                        display: block;
                        color: white;
                        font-size: 40px;
                        margin: 15px auto auto 20px;
                        cursor: pointer;
                    }
                    .add-h1 {
                        font-family: 'Squada One', cursive;
                        color: $color;
                        margin: 0 0 20px 0;
                        font-size: 30px;
                        text-transform: uppercase;
                    }
                    input {
                        height: 45px;
                        margin: 10px;
                        width: 80%;
                        border-radius: 50px;
                        border: none;
                        outline: none;
                        padding-left: 15px;
                
                    }
                    .add-btn {
                        height: 55px;
                        width: 80%;
                        border-radius: 50px;
                        margin: 20px;
                        font-size: 25px;
                        font-family: 'Squada One', cursive;
                        color: white;
                        letter-spacing: 1px;
                        background-color: $color;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .center {
            @extend %flex-center;

            input {
                height: 50px;
                width: 100%;
                border-radius: 50px;
                border: none;
                outline: none;
                padding-left: 20px;
            }
        }
    }
    #main-content{
        // margin-top: 70px;s
        height: 100vh;
        display: grid;
        // grid-template-rows: 
        grid-template-columns: 240px 1fr 320px;
        background-image: black;
        .left-container{
            background-color: blue;
        }
        .middle-container{

        }
        .right-container{
            background-color: red;
        }
    }

}  



@media only screen and (max-width: 479px){ 
    .sidebar{
        .sidebar-content{
            a{
                padding: 15px;
            }
            img{
                margin: 25px 0 25px 0;
            }
        }
    }
    .create-screen{
        margin-top: -70px;
       .create-content{
            height: 100vh;
       }
    }
    #main{
        margin-left: 0 !important;
        nav{
            grid-template-columns: .5fr 2fr 0fr;
            .left,
            .right{
                display: none;
            
            }
            #hamburger{
                display: inline-block;
                margin: auto auto;
            }
            .center{
                input{ 
                    width: 90%;
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 778px){
    .sidebar{
        .sidebar-content{
            a{
                padding: 20px;
            }
            img{
                margin: 25px 0 25px 0;
            }
        }
    }
    .create-screen{
        margin-top: -70px;
       .create-content{
            height: 100vh;
            width: 100vw;
            input{ 
                width: 70%;
            }
            .add-btn{
                width: 70%;
            }
            .fa-times{
                margin: 15px 30px 0 0;
                font-size: 50px;
            }
        }
    }
    #main{
        nav{
            grid-template-columns: .25fr 2fr 0fr;
            .left,
            .right
            {
            display: none;
            }
            #hamburger{
                display: inline-block;
                margin: auto auto;
            }
            .center{
                input{ 
                    width: 90%;
                }
            }
        }
    }    
}

@media only screen and (min-width: 779px) and (max-width: 1166px){
    #sidebar{
        width: 0px !important;
    }
    #main{
        nav{
            grid-template-columns: 1fr 2fr 1fr;
            .right{
                .dropdown{
                    .dropdown-content{
                        width: 400px;
                        .add-h1{

                        }
                    } 
                }
            }
        }
    }
}


@media only screen and (min-width: 1169px) and (max-width: 1600px){    
    #main{
        nav{
            .right{
                .dropdown{
                    .dropdown-content{
                        width: 450px;
                        .add-h1{

                        }
                        input {
                            height: 40px;
                        }
                        #add-btn {
                            height: 50px;
                        }
                    }
                    
                }
            }
        }
    }
}