@import url(https://fonts.googleapis.com/css?family=Squada+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
.fontAwesome {
  font-family: Helvetica, FontAwesome, sans-serif;
  font-size: 14px;
}

::placeholder {
  color: black;
  font-size: 14px !important;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

.search-list {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 65%;
  max-height: 50%;
  top: 58px;
  overflow-y: scroll;
  color: black;
  background-color: #EEEEEE;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 99;
}

.search-list .search-customer {
  font-weight: 900;
  padding: 2.5px 0 5px 15px;
}

.search-list .search-customer:hover {
  background: #E5E5E5;
  cursor: pointer;
}

.search-list .search-customer .search-company {
  font-weight: 300;
  font-size: 14px;
  padding-left: 5px;
  pointer-events: none;
}

@media only screen and (max-width: 479px) {
  .search-list {
    width: 60%;
    font-size: 14px;
  }
  .search-list .search-customer {
    font-weight: 900;
    padding: 2.5px 0 5px 15px;
  }
  .search-list .search-customer:hover {
    background: #E5E5E5;
    cursor: pointer;
  }
  .search-list .search-customer .search-company {
    font-weight: 300;
    font-size: 12px;
    padding-left: 5px;
    pointer-events: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 778px) {
  .search-list {
    width: 75%;
  }
}

@media only screen and (min-width: 779px) and (max-width: 1166px) {
  .search-list {
    width: 45%;
  }
}
