.Todo {
    background-color: #302F2F;
    color: #F6F4F0;
    border: 5px solid #FFA500;
    font-family: 'Squada One', cursive;
    width: 100%;
    border-radius: 5px;
    height: 400px;
    /* height: 90%; */
    }
    
    @media only screen and (max-width: 300px) {
        /* For mobile phones: */
        [class*="Todo"] {
            max-height: 270px;
            min-height: 270px;
            font-size: 12px;
        }
      }
    
    .items_container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 5px;
        overflow: scroll;
        max-height: 300px;
        min-height: 300px;
        scrollbar-color: #F6F4F0;
        
    }
    
    h2 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
        justify-self: center;
        align-self: center;
        
    }
    
    ul {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 6;
        font-family: 'Roboto', sans-serif;
        color: #302F2F;
        max-height: 190px;
        overflow: auto;
        font-size: 18px;
        border-radius: 10px;
    }
    
    @media only screen and (max-width: 360px) {
        /* For mobile phones: */
        [class*="checked"] {
          font-size: 12px;
        }
      }
    
    li {
        background-color: #F6F4F0;
        padding: 0.5% 0.5%;
        border-radius: 10px;
        width: 92%;
        margin: 1%;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        
    }
    
    @media only screen and (max-width: 360px) {
        /* For mobile phones: */
        .input_container {
          font-size: 11px;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: 1fr;
          border-radius: 5px;
          grid-column-gap: 1%;
          margin: 2%;
          width: 90%;
    
        }
    }
    
    .input_container {
        display: grid;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        border-radius: 5px;
        grid-column-gap: 1%;
        margin-left: 1%;
        width: 92%;
    }
    
    .input_container button {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-column-end: auto;
        height: 90%;
        width: 70%;
        justify-self: end;
        border: none;
        background-color: #302F2F;
        font-size: 24px;
    }
    
    @media only screen and (max-width: 360px) {
        /* For mobile phones: */
        .input_container {
            grid-column-start: 2;
            grid-column-end: 7; 
        }
    }
    
    #new_todo {
        grid-column-start: 2;
        grid-column-end: 6; 
        grid-row-start: 1;
        font-family: 'Roboto', sans-serif;
        border-radius: 10px;
        height: 90%;
        border: none;
    }
    
    
    
    #todo_date, #customer_id {
        grid-column-start: 2;
        grid-column-end: 5; 
        grid-row-start: 1;
        font-family: 'Roboto', sans-serif;
        border-radius: 10px;
        height: 90%;
        border: none;
        display: none;
    }
    
    #calendar, #id {
        grid-row-start: 1;
        grid-column-start: 5;
        grid-column-end: 6;
        cursor: pointer;
        margin-top: 2%;
    }
    
    #calendar {
     justify-self: center;
    
    } 
    
    #id {
        justify-self: end;
        margin-right: 4%;
    }
    
    @media only screen and (max-width: 630px) {
        #calendar {
            grid-row-start: 1;
            grid-column-start: 4;
            grid-column-start: 5;
        }
        }
    
        @media only screen and (max-width: 630px) {
            #id {
                grid-row-start: 1;
                grid-column-start: 5;
                grid-column-start: 6;
            }
         }
    
    
>>>>>>> 76ef7ce2e523fbc3fa7e83c013e53dbb88ac777a
    .input_container i {
        color: #302F2F;
        font-size: 30px;
        margin-top: 4%;
    }
    
    .close {
        float: right;
        margin-top: 0.4%;
    }
    
    .input_container .addItem:focus {
        outline: none;
    }
    input:focus{
        outline: none;   
    }
    
    .input_container .addItem {
        background-color: #FFA500;
        border-radius: 10px;
        
    }
    
    
     input[type=checkbox] {
        background-color: #302F2F;
        
    }
    
    
    ul li#chk {
        background-color: #302F2F;
    }
    
    
    ul li#chk::before {
    
      }
    
      ul li {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    