.todo {
/* background-color: #302F2F; */
color: #F6F4F0;
border: 3px solid #FFA500;
font-family: 'Squada One', cursive;
border-radius: 5px;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5,1fr);
grid-row-gap: 5px;
padding: 5px;
/* max-height: 400px; */
/* min-height: 400px; */
height: 100%;
width: 100%;
}


.items_container {
    overflow: scroll;
    grid-row: 2/5;
    grid-column: span 6;
    /* max-height: 300px;
    min-height: 300px; */
    scrollbar-color: #F6F4F0;
}

h2 {
    grid-row: 1;
    grid-column: 1/6;
    /* grid-row-start: 1;
    grid-row-end: 2; */
    /* grid-column-start: 3;
    grid-column-end: 4; */
    justify-self: center;
    align-self: center;
    font-size: 35px;
    
}

ul {
    /* height: 100%;
    width: 100%; */
    /* grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 6; */
    /* grid-row: 2/5;
    grid-column: span 6; */
    font-family: 'Roboto', sans-serif;
    color: #302F2F;
    max-height: 180px;
    overflow: auto;
    font-size: 14px;
    border-radius: 10px;
}


 
li {
    background-color: #F6F4F0;
    /* padding: 0.5% 0.5%; */
    display: flex;
    align-items: center;
    /* padding: 5px; */
    min-height: 40px;
    border-radius: 15px;
    /* width: 92%; */
    margin: 0 auto 5px auto;
    /* margin: 1%; */
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}



.input_container {
    grid-row: 5/6;
    grid-column: span 7;
    display: flex;
    /* display: grid;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr; */
    border-radius: 5px;
    grid-column-gap: 1%;
<<<<<<< HEAD
    /* margin: 2%; */
    /* width: 100%; */
=======
    margin-left: 1%;
    width: 92%;
>>>>>>> Todo
}

/* .input_container button { */
    /* grid-column-start: 1;
    grid-column-end: 2;
<<<<<<< HEAD
    grid-column-end: auto; */
    /* height: 90%;
    width: 80%;
=======
    grid-column-end: auto;
    height: 90%;
    width: 70%;
>>>>>>> Todo
    justify-self: end;
    border: none;
    background-color: #302F2F;
    font-size: 24px;
} */



#new_todo {
<<<<<<< HEAD
    /* grid-row: 5;
    grid-column: ; */
    /* grid-column-start: 2;
    grid-column-end: 7; 
    grid-row-start: 1; */
=======
    grid-column-start: 2;
    grid-column-end: 6; 
    grid-row-start: 1;
>>>>>>> Todo
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    height: 90%;
    width: 95%;
    border: none;
    padding-left: 5px;
}

::placeholder{
    color: #BDBCBB;
    font-size: 12px;
}


#todo_date, #customer_id {
    grid-column-start: 2;
    grid-column-end: 5; 
    grid-row-start: 1;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    height: 90%;
    border: none;
    display: none;
}

#calendar, #id {
    grid-row-start: 1;
    grid-column-start: 5;
    grid-column-end: 6;
    cursor: pointer;
    margin-top: 2%;
}

#calendar {
 justify-self: center;

} 

#id {
    justify-self: end;
    margin-right: 4%;
}


    .input_container i {
        color: #302F2F;
        font-size: 30px;
        /* margin-top: 4%; */
        
}

.fa-calendar,
.fa-id-card{
    color: #FFA500 !important;
    padding: 0 5px 0 5px;
}

.close {
    float: right;
    margin-top: 0.4%;
    justify-content: flex-end;
}

.input_container .addItem:focus {
    outline: none;
}
input:focus{
    outline: none;   
}

.addItem, .open_input_container {
    margin: auto auto;
    /* margin: 5px; */
    grid-row: 1;
    grid-column: 5/7;
    background-color: #FFA500;
    border-radius: 15px;
    height: 70%;
    width: 70%;
    /* justify-self: end; */
    border: none;
    /* min-width: 80px;s */
    /* min-height: 50px; */
    /* background-color: #302F2F; */
    font-size: 24px;
    
}


 input[type=checkbox] {
    background-color: #302F2F;
}


#chk {
    background-color: #302F2F;
    margin: 0 5px 0 5px;
    display: flex;
}


ul li#chk::before {

  }

  ul li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

